---
// import questionsList from "../content/faq.json";
---

<ul class="divide-y space-y-svw-dbl md:space-y-svw">
  <!-- {
    questionsList.map((item) => (
      <li class="grid   not-last:pb-svw-dbl md:grid-cols-[minmax(0,1fr)_minmax(0,2fr)] md:gap-svw-dbl md:not-last:pb-svw">
        <h2 class="h3 leading-tight">{item.question}</h2>
        <p class="text-pretty">{item.answer}</p>
      </li>
    ))
  } -->
</ul>
