---

---

<header id="header" class="wrapper">
  <a href="/" aria-label="Home Page" class="z-1"
    ><span aria-hidden="true">Logo</span></a
  >
  <button
    id="header-btn"
    aria-label="Toggle menu"
    aria-controls="mobile-menu"
    aria-expanded="false"
  >
    <div id="burger-line"></div>
  </button>
  <nav id="header-nav" aria-label="Primary">
    <ul id="header-ul">
      <li class="">
        <a href="/">Home</a>
      </li>
      <li class="">
        <a href="/winners">Previous Winners</a>
      </li>
      <li class="">
        <a href="/how-it-works">How it works</a>
      </li>
      <li class="">
        <a href="/faq">FAQ</a>
      </li>
      <!-- Competition -->
      <li class="">
        <a href="/contacts">Contacts</a>
      </li>
    </ul>
    <a id="login-btn" href="/#" target="_blank"> Login </a>
  </nav>
</header>
