---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Tests" description="Description about Lux Watches">
  <main>
    <h1>Tests</h1>
    <ul>
      <li>
        <a href="/cars">Cars</a>
      </li>
      <li>
        <a href="/watches">Watches</a>
      </li>
    </ul>
  </main>
</Layout>
