---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

// import HowItWorksList from "../components/HowItWorksList.astro";
// import WinnersList from "../components/WinnersList.astro";
// import FaqList from "../components/FaqList.astro";
---

<Layout title="Watches" description="Description about Lux Watches">
  <main>
    <h1>Cars</h1>

    <section class="">
      <h2>How it works</h2>

      <!-- <HowItWorksList /> -->
    </section>

    <section class="">
      <h2>Previous Winners</h2>

      <!-- <WinnersList limit={4} /> -->
    </section>

    <section class="">
      <h2>FAQ</h2>

      <!-- <FaqList /> -->
    </section>
  </main>
</Layout>
